body{
	font-family: 'Ubuntu', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, a, span, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

p {
	line-height: 1.6em;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	background: rgba(0,196,255,1);
	background: -moz-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,196,255,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4ff', endColorstr='#3790d9', GradientType=1 );
	padding-top: 64px;
	color: #fff;
	padding-bottom: 73px;

}

.intro {
	margin-bottom: 43px;
	width: 415px;
	margin-top: 43px;
}

.intro header{
	font-family: 'Open Sans', sans-serif;
	font-size: 16 px;
}

.wrapper {
	align-items:center;
	display: flex;
	justify-content: space-between;
} 
/*.offer {
	margin-top: 149px;
}*/

.title {
	font-size: 37px; 
	width: 587px;
	line-height: 1.3em;
}

.title span {
	font-size: 59px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #000;
	display: block;
	width: 222px;
	padding: 22px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #b0550c;
}

.descktop {
	margin-top: 18px;
}

.learn {
	padding-top: 108px;
	padding-bottom: 120px; 
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.expectations {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 60px;
}

.expect	{
	width: 290px;
}

.ecpect-text {
	margin-top: 10px;
}

.expect-time{
	background: url('../img/icon1.jpg') no-repeat center top;
	width: 290px;
}

.ecpect-title {
	font-size: 19px;
	padding-top: 85px;
}

.expect-travel {
	background: url('../img/icon2.jpg') no-repeat center top;
	width: 280px;
}

.expect-values {
	background: url('../img/icon3.jpg') no-repeat center top;
	width: 300px;
}

/*.icon {
	margin-bottom: 25px;
}*/

.mail {
	background: #ecf3f8;
	padding-top: 101px;
	padding-bottom: 108px;
}


.form {
	max-width: 340px;
	margin: 0 auto;
}

.input {
	width: 100%;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	color: #9c9b9f;
	height: 48px;
	margin: 0 auto 15px;
	padding-left: 25px;	
}

.btn-form {
	width: 100%;
	border: 0;
	cursor: pointer;
	margin: 0 auto 15px;
}

.title-form {
	margin-bottom: 70px;
}

.footer{
	padding: 63px 0;
	background: #164d7a;
}

.credits {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 0;
	text-align: center;
}

/*Responsive*/

/* 992px - 1200px*/
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
		text-align: center;
	}
	.title {
		margin: auto
	}
	.intro {
		width: 100%;
	}
	.descktop {
		display: block;
    	width: 641px;
    	margin: 18px auto 0;
	}
	.expectations {
		flex-direction: column;
	}
	.expect {
		width:auto; 
		margin-bottom: 20px;
	}
	.logo {
		display: block;
	    width: 98px;
	    margin: 10px auto 0;
	}
	.btn {
		display: block;
    	margin: auto;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;	
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.descktop {
		display: block;
    	width: 540px;
    	margin: 18px auto 0;
	}

	.title {
		width: auto;
	}
}

/* 0 - 576 */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.descktop {
    	width: 300px;
	}

}